*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fcfcfc;
  --sand: #a6988d;
  --dark-sand: #40362e;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 1.4rem;
  color: var(--white);
}

h2 {
  font-size: 1.1rem;
  color: var(--white);
}

h4 {
  font-size: 1.6rem;
  line-height: 2rem;
}

h4 span {
  display: block;
  color: var(--sand);
}

h5 {
  font-size: 1.3rem;
  color: var(--sand);
  line-height: 1.9rem;
}

a {
  color: var(--white);
  text-decoration: none;
  transition: all 0.2s ease-out;
}

a:hover {
  text-decoration: underline;
}

.primary-btn {
  display: grid;
  grid-template-columns: 1fr 45px;
  align-items: center;
  width: 220px;
  height: 50px;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 16px;
  background-color: transparent;
}

.primary-btn span {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

.primary-btn:hover {
  background-color: var(--white);
  color: black;
  text-decoration: none;
}

.primary-btn:hover span {
  background-color: var(--sand);
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--white);
}

section {
  margin-top: 90px;
}

header {
  width: 100%;
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5)
    ),
    url("images/hero-mobile.jpg");
  background-size: cover;
  background-position: center;
  height: 100dvh;
  color: var(--white);
}

.top-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-logo {
  width: 250px;
}

.language-selection {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

.active {
  font-weight: 900;
}

.hero-content {
  padding: 40px 20px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100dvh - 50px);
}

.thelis-logo {
  width: 250px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

#the-performance {
  padding: 0 20px;
}

.intro {
  font-size: 1.1rem;
}

.intro span {
  font-weight: 700;
  color: var(--sand);
}

.grid {
  margin-top: 60px;
  display: grid;
  gap: 30px;
}

.grid-row {
  display: grid;
  gap: 30px;
}

.grid-text {
  font-size: 0.9rem;
  word-wrap: break-word;
  line-height: 1.3rem;
}

.grid-image-container {
  position: relative;
  display: inline-block;
}

.grid-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  box-shadow: 4px 10px 22px rgba(0, 0, 0, 0.15);
}

.grid-image-container::after {
  content: "";
  position: absolute;
  border-radius: 24px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5)
  );
  pointer-events: none;
}

.emphasis {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  font-style: italic;
}

#quote {
  background-color: var(--sand);
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 500;
}

.author {
  font-size: 1.4rem;
  text-align: right;
}

#cast {
  padding: 0 20px;
}

.cast-container {
  margin-top: 30px;
  font-size: 0.9rem;
}

.cast-list {
  display: grid;
  gap: 8px;
}

.cast-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.name-list {
  list-style: none;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

dt {
  font-weight: 600;
}

dd {
  text-align: right;
}

dd span {
  display: block;
}

.cast-item .dots {
  flex-grow: 1;
  border-bottom: 2px dotted black;
  margin: 13px 0.5em 0;
  height: 0;
}

#cta {
  background-color: var(--dark-sand);
  border-radius: 24px;
  max-width: 85%;
  margin: 0 auto;
  margin-top: 60px;
  box-shadow: 4px 10px 22px rgba(0, 0, 0, 0.15);
  color: var(--white);
}

.cta-image {
  border-radius: 24px 24px 0 0;
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cta-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px;
}

.ticketmaster {
  width: 170px;
}

footer {
  margin-top: 90px;
  padding: 40px 20px;
  display: grid;
  justify-items: center;
  gap: 24px;
}

.footer-logo {
  width: 180px;
}

.social {
  list-style: none;
  display: flex;
  gap: 16px;
  align-items: center;
}

.social-link {
  color: black;
  transition: color 0.3s ease-out;
}

.social-link:hover {
  color: var(--sand);
}

.copyright {
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.9rem;
  }

  h4 span {
    display: unset;
  }

  h5 {
    font-size: 1.6rem;
  }

  section {
    margin-top: 120px;
  }

  header {
    background-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.5)
      ),
      url("images/hero-desktop.JPG");
  }

  .top-area {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 30px 20px;
  }

  .header-logo {
    width: 500px;
    justify-self: center;
    margin-left: 55px;
  }

  .hero-content {
    padding: 0 40px 30px 40px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: end;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    height: calc(100dvh - 172px);
  }

  .thelis-logo {
    width: 350px;
    margin-left: -28px;
  }

  .logo-container {
    display: grid;
    justify-self: left;
  }

  .show-dates {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .intro {
    font-size: 1.4rem;
  }

  .grid-text {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6rem;
  }

  .emphasis {
    font-size: 1.3rem;
  }

  .cast-container {
    margin-top: 60px;
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .top-area {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 30px 20px;
  }

  .hero-content {
    max-width: 1200px;
  }

  #the-performance {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 120px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-row {
    grid-column: span 2;
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .grid-image-container img {
    width: 400px;
    height: auto;
    border-radius: 24px;
    box-shadow: 4px 10px 22px rgba(0, 0, 0, 0.15);
  }

  .grid-image-container::after {
    content: "";
    position: absolute;
    border-radius: 24px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5)
    );
    pointer-events: none;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .emphasis {
    grid-column: span 2;
    padding: 20px 0;
  }

  .quote-text {
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  #cast {
    max-width: 768px;
    margin: 0 auto;
    margin-top: 120px;
  }

  #cta {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 120px;
  }

  footer {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo copyright social";
    align-items: center;
  }

  .footer-logo {
    grid-area: logo;
  }

  .copyright {
    grid-area: copyright;
  }

  .social {
    grid-area: social;
  }
}
